*.o
*.swp
venv
.vscode
__pycache__
*.memh

//quartus working diretories
CPEN391_Computer\ \(Verilog\)\ UART\ -\ For\ 391\ Students/db/
CPEN391_Computer\ \(Verilog\)\ UART\ -\ For\ 391\ Students/incremental_db/